@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/***** RESET *****/
*, *::before, *::after {
	box-sizing: border-box;
}

/***** VARIABLES *****/
:root {
	--pure-white: #fff;
	--white: #F2F2F2;
	--black: #0b090a;
	--gray: #444444;
	--primary-color: #007Af3;
	--primary-color-200: #006BD6;
	--primary-color-300: #0362c2;
	--dark: #20272E;
}

/***** UTILITY *****/
body {
	background-color: var(--white);
	font-family: 'Poppins', sans-serif;
	margin: 0;
	overflow-x: hidden;
}

/* LINKS */
a {
	color: var(--gray);
	text-decoration: none;
}

/* SECTIONS  */
section {
	padding: 5em 2em;
}

/***** NAVBAR *****/
.logo {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--black);
	margin-right: 1em;
}

.logo > span {
	color: var(--primary-color);
}
.navbar {
	background-color: var(--pure-white);
	padding: 1em;
}

.navbar-container {
	display: flex;
	place-content: space-between;
}

.mobile-menu {
	cursor: pointer;
}

nav {
	display: none;
	position: fixed;
	z-index: 2;
	width: 66%;
	right: 0;
	top: 0;
	background-color: var(--dark);
	height: 100vh;
	padding: 1em;
	transition: all ease-in-out 400ms;
}

/* NAV SHOW IN MOBILE */
.menu-btn {
	display: block;
}
.primary-nav {
	margin-top: 5em;
}
.primary-nav li a, .secondary-nav li a {
	color: var(--pure-white);
	display: block;
	padding: .5em;
	font-size: 1.3rem;
	text-align: right;
}
.primary-nav li a:hover, .secondary-nav li a:hover {
	font-weight: bold;
}
.mobile-menu-exit {
	float: right;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/***** HERO *****/
.hero {
	text-align: center;
}

.subhead {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--gray);
	letter-spacing: .3em;
}

.left-col > h1 {
	font-size: 2.5em;
	line-height: 1.3em;
	margin-top: .2em;	
}

.primary-cta {
	background-color: var(--primary-color);
	color: var(--white);
	font-weight: bold;
	font-size: 1.4em;
	border-radius: 5em;
	padding: .6em 1.3em;
	display: inline-block;
	transition: all ease-in-out 200ms;
}

.primary-cta:hover {
	background-color: var(--primary-color-300);
	transform: scale(1.1);
}

.watch-video-cta {
	display: flex;
	margin-top: 1em;
	justify-content: center;
	align-items: center;
}

.watch-video-cta img {
	margin-left: .3em;
}

.left-col .hero-img {
	margin-right: .5em;
}

.hero-img {
	width: 70%;
	margin-top: 3em;
}

.features-section {
	background-color: var(--dark);
	color: var(--white);
}

.features-list {
	margin: 0;
	padding-left: .1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.features-list li {
	position: relative;
	font-size: 1.1rem;
	margin-bottom: 1em;
	margin-left: 2em;
}

.features-list li::before {
	content: '';
	position: absolute;
	left: -2em;
	width: 20px;
	height: 20px;
	background-image: url('images/bullet.svg');
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: .5em;
}

.features-section img {
	display: none;
}

/***** TESTIMONIALS *****/

.testimonials-section {
	background-color: var(--primary-color);
}

.testimonials-section ul li {
	background-color: var(--primary-color-200);
	color: var(--white);
	text-align: center;
	width: 80%;
	border-radius: 1em;
	padding: 2em 1em;
	margin: 0 auto 5em auto;
	transition: all ease-in-out 200ms;
}

.testimonials-section ul li:hover {
	transform: scale(1.1);	
}

.testimonials-section ul li img {
	width: 5em;
	border-radius: 50%;
	border: 5px solid var(--primary-color-200);
	height: 5em;
	margin-top: -4.5em;
}

/***** CONTACT *****/
.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-form h2 {
	text-align: center;
	font-size: 2rem;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

label {
	font-size: 1.2rem;
	display: block;
	font-weight: bold;
	color: var(--black);
	margin-bottom: .5em;
}

input, textarea {
	border-radius: .3em;
	border: 1px solid gray;
	width: 100%;
	padding: .8em;
	margin-bottom: 1em;
}

input:focus, textarea:focus {
	border: 1px solid var(--primary-color);
}

input[type="submit"] {
	display: inline-block;
	background-color: var(--primary-color);
	font-weight: bold;
	font-size: 1.3rem;
	color: var(--white);
	border-radius: 5em;
	border: none;
	margin-bottom: 5em;
	padding: 0.7em 1.3em;
	cursor: pointer;
	width: unset;
	transition: all ease-in-out 200ms;
	margin: 1em auto;
}

input[type="submit"]:hover {
	transform: scale(1.1);
	background-color: var(--primary-color-300);
}


iframe {
	width: 100%;
	height: 300px;
}

/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
	/* TABLETS */
	.mobile-menu, .mobile-menu-exit {
		display: none;
	}

	.navbar .container {
		display: grid;
		grid-template-columns: 180px auto;
		justify-content: unset;
	}

	.navbar nav {
		display: flex;
		justify-content: space-between;
		background: none;
		height: auto;
		width: 100%;
		position: unset;
		padding: 0;
	}

	.navbar nav ul {
		display: flex;
	}

	a {
		color: var(--black);
	}

	.navbar nav a {
		color: var(--black);
		font-size: 1em;
		padding: .1em 1em;
	}

	.primary-nav {
		margin: 0;
	}

	.current{
		font-weight: bold;
	}

	.navbar-container .secondary-nav .go-premium-cta a{
		border: 3px solid var(--primary-color);
		color: var(--primary-color);
		border-radius: 5em;
		margin-top: -.2em;
		font-weight: bold;
		transition: all ease-in-out .2s;
	}
	.navbar-container .secondary-nav .go-premium-cta a:hover{
		background-color: var(--primary-color);
		color: var(--pure-white);
	}

	.hero-img {
		width: 50%;
	}

	.contact-form {
		width: 70%;
		margin: 0 auto;
	}

}

@media screen and (min-width: 1080px) {
	/* LAPTOP */
	.container {
		margin: 0 auto;
	}

	section {
		padding: 10em 4em;
	}

	.hero .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
	}

	.left-col {
		margin: 3em 3em 0 5em;
	}

	.left-col h1 {
		font-size: 3rem;
		width: 90%;
	}

	.hero-img {
		width: 30%;
	}

	.hero-cta {
		display: flex;
	}

	.primary-cta {
		margin-right: 1em;
	}

	.features-list {
		display: block;
		margin-left: 5em;
	}

	.features-list li {
		font-size: 1.4em;
	}

	.features-list::before {
		width: 30px;
		height: 30px;
	}

	.features-section {
		position: relative;
	}

	.features-section img {
		display: block;
		position: absolute;
		right: 0;
		width: 400px;
		bottom: -2em;
		object-fit: contain;
	}

	.testimonials-section ul {
		display: flex;
	}

	.testimonials-section ul li {
		margin: 0 1em;
	}

	.contact-section {
		position: relative;
	}

	.contact-section .container {
		display: grid;
    	grid-template-columns: 45% 55%;
	}

	.contact-right {
		position: absolute;
		top: 0;
		right: 0;
		width: 45%;
		height: 100%;
	}

	iframe {
		height: 100%;
	}

}

@media screen and (min-width: 1350px) {
	/* DESKTOP */
	.features-section::before {
		content: '';
		position: absolute;
		width: 10%;
		height: 20em;
		background-color: var(--primary-color);
		left: 0;
		top: -4em;
	}
	.features-section::after {
		content: '';
		position: absolute;
		width: 200px;
		height: 20em;
		background: url('images/dots.svg') no-repeat;
		left: 4.5em;
		top: 2em;
	}
	.features-list{
		margin-left: 13rem;
	}
	
}